In [3]:
import pandas as pd
import numpy as np
df = pd.read_csv('data_actives.csv')
df.head()

,﻿companyCode,emplStatus,workLocation,costCenter,supvEmplId,lastHireDate,originalHireDate,seniorityDate,flsaType,fullPartTime,emplType,jobLevel,jobCode
0,Company1,Active,"El Dorado Hills, CA",380,1729.0,"Sep 7, 2010 12:00:00 AM","Sep 7, 2010 12:00:00 AM","Sep 7, 2010 12:00:00 AM",Exempt,Full Time,Contractor/Consultant,6,600474
1,Company1,Active,"Denver, CO",364,1729.0,"Sep 29, 2017 12:00:00 AM","Sep 29, 2017 12:00:00 AM","Sep 29, 2017 12:00:00 AM",Exempt,Full Time,Contractor/Consultant,6,600474
2,Company1,Active,"Denver, CO",364,1729.0,"Jun 20, 2018 12:00:00 AM","Jun 20, 2018 12:00:00 AM","Jun 20, 2018 12:00:00 AM",Exempt,Full Time,Contractor/Consultant,6,600474
3,Company1,Active,"Denver, CO",364,1729.0,"Feb 20, 2018 12:00:00 AM","Feb 20, 2018 12:00:00 AM","Feb 20, 2018 12:00:00 AM",Exempt,Full Time,Contractor/Consultant,6,600474
4,Company1,Active,"Groton, CT",399,3269.0,"Oct 31, 2013 12:00:00 AM","Oct 31, 2013 12:00:00 AM","Oct 31, 2013 12:00:00 AM",Exempt,Full Time,Contractor/Consultant,6,600474